<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<p>User:
		<input type="text" id="userInput" value="Hello Bot!">
		<button type="submit" id="btn">Submit</button>
	</p>

	<p>Bot reply: <span id="bot_reply"></span></p>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/send_reply.js') }}"></script>
</body>
</html>