<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
	<div class="container">
		<p>User:
			<div class="input-group">
				<input type="text" id="userInput" class="form-control" value="Hello Bot!">
				<button id="btn" class="btn btn-success">Submit</button>
			</div>
		<p>Bot reply: <span id="bot_reply"></span></p>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/send_reply.js') }}"></script>
</body>
</html>